/* font family link is here */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

:root {
  --White: hsl(0, 0%, 100%);
  --Stone-100: hsl(30, 54%, 90%);
  --Stone-150: hsl(30, 18%, 87%);
  --Stone-600: hsl(30, 10%, 34%);
  --Stone-900: hsl(24, 5%, 18%);
  --Brown-800: hsl(14, 45%, 36%);
  --Rose-800: hsl(332, 51%, 32%);
  --Rose-50: hsl(330, 100%, 98%);
}

/* body {
  font-family: "Young Serif", serif;
} */
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 2rem;
}
.card {
  background-color: var(--White);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 350px;
  padding-bottom: 1rem;
}
.card img {
  width: 100%;
}
.card-title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-inline: 1.5rem;
}
.card-title h1 {
  margin-top: 0.7rem;
  font-family: "Young Serif", serif;
  font-weight: 500;
}
.card-title p {
  font-family: "Outfit", sans-serif;
}
.card-desc {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: "Outfit", sans-serif;
  padding-inline: 1.5rem;
}
.card-desc ul {
  padding-left: 1rem;
}
.card-desc ul li span {
  font-weight: bold;
}
/* first pra style is here */
.fist-pra {
  background-color: var(--Rose-50);
  border-radius: 10px;
  padding: 1rem;
}
.fist-pra h3 {
  color: var(--Rose-800);
  margin-bottom: 0.3rem;
}
.fist-pra ul li {
  padding-inline: 0.9rem;
  padding-block: 0.5rem;
}
/* second pra style is here */
.secend-pra h3 {
  color: var(--Brown-800);
  font-family: "Young Serif", serif;
  font-weight: 500;
  margin-bottom: 0.7rem;
}
.secend-pra ul li {
  color: var();
  padding-inline: 0.9rem;
  padding-block: 0.2rem;
}
/* 3rd pra style is here */
.therad-pra h3 {
  color: var(--Brown-800);
  font-family: "Young Serif", serif;
  font-weight: 500;
  margin-bottom: 0.9rem;
}
.therad-pra ul li {
  color: var(--Stone-600);
  padding-inline: 0.9rem;
  padding-block: 0.2rem;
  list-style: decimal;
}
/* hr style is here */
hr {
  border: none;
  border: 1px solid var(--Stone-150);
}
/* fort pra style is her */
.four-table h3 {
  color: var(--Brown-800);
  font-family: "Young Serif", serif;
  font-weight: 500;
  margin: 0.9rem 0rem;
}
.four-table table {
  border-collapse: collapse;
  width: 100%;
  text-align: start;
  padding-left: 2rem;
  padding-block: 0.7rem;
}
.four-table tr td {
  padding-block: 0.7rem;
  border-bottom: 1px solid var(--Stone-150);
}
.four-table table tr:last-child td {
  border-bottom: none;
}
.four-table table tr td:last-of-type {
  color: var(--Brown-800);
  font-weight: 700;
}
/* footer style is here */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* media query is here */
@media (min-width: 768px) {
  .container {
    background-color: var(--Stone-100);
    padding-block: 4rem;
  }
  .card {
    border-radius: 10px;
    width: 550px;
    padding: 1rem;
    box-shadow: none;
  }
  .card img {
    border-radius: 7px;
  }
}
